<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>PostPress - Settings</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="../static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="../static/css/custom.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../static/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../static/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">PostPress</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="/">Posts</a></li>
              <li class="active"><a href="#settings">Settings</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

        <div class="tabbable">
            <ul class="nav nav-tabs">
               <li class="active"><a href="#1" data-toggle="tab">Settings</a></li>
               <li><a href="#2" data-toggle="tab">Users</a></li>
               <li><a href="#3" data-toggle="tab">Style</a></li>
               <li><a href="#4" data-toggle="tab">Code</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="1">

                    <form class="form-vertical">
                      <fieldset>
                        <legend>Legend text</legend>
                        <div class="control-group">
                          <label class="control-label" for="input01">Text input</label>
                          <div class="controls">
                            <input type="text" class="input-xlarge" id="input01">
                            <p class="help-block">Supporting help text</p>
                          </div>
                        </div>
                      </fieldset>
                    </form>

                </div>
                <div class="tab-pane" id="2">


                    <table class="table table-striped span4">
                      <thead>
	                    <tr>
	                      <th>Username</th>
	                      <th>Email</th>
	                      <th>Permission</th>
	                    </tr>
                      </thead>
                      <tbody>
                      {% for u in users %}
	                    <tr class="selectjob">
	                      <td job="{{ p.jobid }}">{{ u.username }}</td>
	                      <td job="{{ p.jobid }}">{{ u.email }}</td>
	                      <td job="{{ p.jobid }}">{{ u.permission }}</td>
	                    </tr>
                      {% endfor %}
                      </tbody>
                    </table>


                </div>
                <div class="tab-pane" id="3">
                    <p>Howdy, I'm in Section 3.</p>
                </div>
                <div class="tab-pane" id="4">
                    <p>Plug in the following code for the postings to display on your website.</p> <br />

                    <p><code>&lt;object type="text/html" data="http://localhost:5000/render"&gt;&lt;/object&gt;</code></p>
                    
                    or via jQuery and AJAX:
                    
<pre class="prettify">
&lt;script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"&gt;&lt;/script&gt;

&lt;div id="postpress"&gt;&lt;/div&gt;
&lt;script type="text/javascript"&gt;
$.ajaxSetup ({  
    cache: false  
});  
var ajax_load = "&lt;img src='img/load.gif' alt='loading...' &gt;";
var loadUrl = "http://localhost:5000/render";
$("#postpress").html(ajax_load).load(loadUrl);  
&lt;/script&gt;
</pre>

                    <object type="text/html" width="700px" height="500px" data="http://localhost:5000/render"></object>


                    <!-- <code>&lt;script&gt;asdf&lt;/script&gt;</code><br /> -->
                    <!-- Or <script type="text/javascript" src="testIFrame.js"></script>  -->
                    <!-- window.document.write("<iframe src=\"anotherpage.html\"/>"); -->

                </div>
            </div>
        </div>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../static/js/jquery-1.7.2.min.js"></script>
    <script src="../static/js/bootstrap.js"></script>

<script>
$('.tlinks td').click(function() {
    var value = $(this).attr("job");
    window.location = "post/" + value;
});
</script>


<!-- Post Modal -->
<div class="modal hide fade" id="create-post">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Create Post</h3>
    </div>
    <div class="modal-body span5">
        <form action="add" method="post">
          <input type="text" class="span1" placeholder="Job ID" name="jobid">
          <input type="text" class="span1" placeholder="Type" name="jobtype">
          <input type="text" class="span2" placeholder="Location" name="location">
          <input type="text" class="span3" placeholder="Title" name="title">
          <input type="text" class="span1" placeholder="Salary" name="salary">
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        <button class="btn btn-primary" type="submit">Save</button>
    </div>
          <!-- <textarea class="input-xlarge span5" id="textarea" rows="15"></textarea> -->
        </form>
    </div>

</div>
<!-- End Post Modal -->

  </body>
</html>
